@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap');



:root {
    --background-color: #171d22a3;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary-color: #17202a;
    --secondary-color: #273746;
    --gray-color: #ddd;
    --white-color: #fff;
    --green-color: #28b463;
    --brown-color: #b1060f;
    --button-color: #e4d804;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;


    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "poppins", sans-serif;
}

a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
}

/* Slider */

.banner__area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
}

.banner__area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.slider__container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.slide {
    opacity: 0;
    transform: translateX(-25%);
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    z-index: 5;
    transition: all 1s ease-in;
}

.slide.active {
    opacity: 1;
    transform: translateX(-0%);
}

.arrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.23);
    color: #fff;
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 5px;
    border-radius: 50%;
    z-index: 5;
}



.arrow i {
    font-size: 1.5rem;
}

.arrow:focus {
    outline: none;
}

.left__arrow {
    left: 0;
}


.right__arrow {
    right: 0;
}

.slider__content {
    opacity: 0;
    position: relative;
    top: 67%;
    left: 65%;
    transform: translate(-0%, -50%);
    padding: 4rem;

    background-color: rgba(0, 0, 0, 0.23);
    transition: all 0.7s ease-in;
}

.slider__content.active {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.slider__content h2 {
    color: var(--white-color);
    font-size: 6rem;
}

.slider__content .movies__overview {
    color: var(--white-color);
    padding: 1rem;
    width: 50%;
}

.slider__content .movies__details {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 1rem;

}

.movies__details--category {
    color: var(--white-color);
    background: #eb9846;
    padding: 0.5rem;
    border-radius: 20px;
}

.movies__details--year {
    color: var(--white-color);
    background: var(--green-color);
    padding: 0.5rem;
    border-radius: 20px;
}


.slider__content button {
    padding: 0.7rem 2rem;
    outline: none;
    border: none;
    margin: 2rem 1rem;
    background: var(--brown-color);
    color: var(--white-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;

}

.slider__content button i {
    margin-right: 1rem;
    font-size: 2rem;
}

/* 

nav*/

html {
    scroll-behavior: smooth;
}

header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: auto;
    color: var(--white);
    /* padding: 20px 0; */
}

.nav__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1420px;
    background: var(--background-color);

}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.header__nav {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    /* padding: 8px 0; */
    /* padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    flex: 0 0 100%; */
}

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__section {
    display: flex;
    flex-grow: 1;
}

.menu__section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu__section ul li {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 38px 23px;
    display: block;
    line-height: 1;

    z-index: 1;
}

.menu__section ul .active a {
    color: var(--button-color);
}

.menu__section ul li a {
    color: var(--white);
}

.search,
.logo__section {
    padding: 0 100px 0 20px;
}

.search i {
    color: var(--button-color);
}