@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap');



:root {
    --background-color: #171d22a3;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary-color: #17202a;
    --secondary-color: #273746;
    --gray-color: #ddd;
    --white-color: #fff;
    --green-color: #28b463;
    --brown-color: #b1060f;
    --button-color: #e4d804;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;


    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

li.disabled {
    pointer-events: none;
    cursor: none;
}

.text__button--color {
    color: var(--button-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    font-family: "poppins", sans-serif;
}

a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
}

/* Slider */
.banner__area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    object-fit: contain;
    background-size: cover;

    /* transform: translateX(-25%); */
    transition: all 2s ease-in;
}

.banner__area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.slider__container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
    width: 100%;
    max-width: 1330px;
    border-radius: 5px;

    display: flex;
    padding: 130px 0;
    align-items: center;
    z-index: 5;
    position: relative;
}

.movie__info--wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}

.movie {
    width: calc(100% / 2);
}

.movies__details--quality {
    background-color: var(--white);
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 11px;
    font-size: 11px;

}

.hd {
    background: transparent;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 11px;
    font-size: 11px;
    margin-left: 9px;
    border: 2px solid #fff;
    line-height: 1;
}

.movies__details--category {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-left: 16px;
    font-weight: 600;
}

.movies__details--year {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-weight: 500;
    font-size: 14px;
}

.movies__details--year i {
    margin-right: 9px;
}

.movies__details {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    color: var(--white);
    margin-bottom: 15px;

}

.movies__title {
    color: var(--white-color);
    font-size: 50px;
    margin: 0 0 29px;
    line-height: 1.2;
    font-style: normal;
    width: 100%;

}

.movie__content {
    transform: translateX(-30vh);
    transition: all 2s ease-in;
    opacity: 0;
}

.movie__content.active {
    opacity: 1;
    transform: translateX(-0%);
}

.movie__button {
    display: block;
    padding: 15px 34px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--white-color);
    font-weight: 700;
    font-size: 12px;
    border: 2px solid var(--button-color);
    max-width: 200px;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

.movie__button:hover {
    background-color: var(--button-color);
    color: var(--dark);
}

.movie__button i {
    margin-right: 7px;
    font-size: 12px;
}

.movie__img--wrapper {
    opacity: 0;
    transform: translateY(10px);
    /* display: none; */
    align-items: center;
    /* height: 100%; */
    transition: all 2s ease-in;
}

.movie__img--wrapper.active {
    opacity: 1;
    /* display: block; */
    transform: translateX(-0%);

}

.movie__img--figure {
    display: flex;
    justify-content: center;
}

.movie__img--figure img {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

/*

nav*/


header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: auto;
    color: var(--white);
    /* padding: 20px 0; */
    background: var(--background-color);
}


.nav__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1330px;


}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.header__nav {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    /* padding: 8px 0; */
    /* padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    flex: 0 0 100%; */
}

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__section {
    display: flex;
    flex-grow: 1;

}

.menu__section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu__section ul li {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 38px 23px;
    display: block;
    line-height: 1;

    z-index: 1;
}

.menu__section ul .active a {
    color: var(--button-color);
}

.menu__section ul li a {
    color: var(--white);
}

.search,
.logo__section {
    cursor: pointer;
    padding: 0 100px 0 20px;
}

.logo__section figure a {
    vertical-align: middle;
    color: white;
    font-weight: 700;
    letter-spacing: -16px;
    font-size: 36px;
}

.logo__update {
    font-size: 48px;
    vertical-align: bottom;
}

.search i {
    color: var(--button-color);
}

/* Search Modal */
.modal {
    visibility: hidden;
}

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.search__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(23, 26, 33, .95);

}

#search-modal .modal-dialog {
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    outline: 0;
    margin: 0;
    min-width: 700px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

#search-modal .modal-dialog .modal-content form {
    width: 100%;
    position: relative;
    background: transparent;
}

#search-modal .modal-dialog .modal-content form input {
    width: 100%;
    font-size: 36px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid rgba(255, 255, 255, .1);
    background: 0 0;
    color: #fff;
    outline: none;
    padding: 0 85px 12px 40px;
    z-index: 20;


}

input:focus {
    background: 0 0;
}

#search-modal .modal-dialog .modal-content form button {
    position: absolute;
    right: 40px;
    margin-bottom: 0;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #e4d804;
    top: 8px;
    font-weight: 900;
}

.modal__exit {
    font-size: 40px;
    position: absolute;
    right: 5%;
    top: 5%;
    color: var(--button-color);
}

/* FOOTER */

footer {
    position: absolute;
    left: 0;
    /* bottom: 0px; */
    width: 100%;
    z-index: 9;
    height: auto;
    color: var(--white);
    /* background: #171d22; */
    /* background-image: url(../); */
    background-image: url(/app/img/footer_bg.jpg);
    /* padding: 20px 0; */
}

.search__footer {
    position: relative;
    margin-left: 30px;
    cursor: pointer;
    padding: 0 100px 0 20px;
}

.search__footer i {
    color: var(--button-color);
}

.search__footerform {
    min-width: 285px;
    position: relative;
    margin-left: 30px;
}

.search__footer form input {
    width: 100%;
    border: none;
    background: #12151e;
    color: #fff;
    padding: 14px 20px;
    font-size: 12px;
    border-radius: 30px;
    /* padding-right: 60px; */
    box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.search__footer form button {
    position: absolute;
    right: 35%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 12px;
    color: #e4d804;
    padding: 0;
    cursor: pointer;
}

.search__footer form button::before {
    content: "|";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    color: #656870;
    opacity: .34;
}

/* Movie display */

.movie__menu--display {
    background-image: url(/app/img/ucm_bg.jpg);
    padding: 120px 0 70px;
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
    /* z-index: -1; */

}

.movie__menu--display::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #100e17;
    opacity: .95;

    z-index: 0;
}

.movie__menu--wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/app/img/ucm_bg_shape.png);
}

.movie__menu--wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    align-items: center;
    margin-bottom: 55px;
}

.movie__menu--links {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;

}

.movie__menu--ul {
    display: flex;

}

.movie__menu--ul li {
    margin-right: 12px;
    margin-top: 12px;
    text-transform: uppercase;

}

.movie__menu--ul li a {
    border-radius: 50px;
    background: #20212b;
    font-size: 12px;
    font-weight: 600;
    color: #e3dfdf;
    border: 2px solid #2d303d;
    padding: 11px 27px;
    margin-bottom: 0;
    transition: none !important;
    /* border-color: #2d303d; */
    font-weight: 500;
}

.movie__menu--ul li.active a {
    border-color: var(--button-color);
}

.movie__menu--buttons {
    display: flex;
    justify-content: end;
    /* justify-content: space-between; */

    font-weight: 600;
    color: #e3dfdf;
    border: 2px solid #2d303d;
    border-radius: 50px;
    overflow: hidden;
}

.owl-prev,
.owl-next {

    position: relative;
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0;
    padding: 13px 20px;
    /* margin-right: 12px; */
    /* margin-top: 12px; */
    background: #20212b;
    cursor: pointer;

}

.owl-prev.disabled,
.owl-next.disabled {
    opacity: 0.5;
    /* example: reduce opacity to indicate disabled state */
    cursor: not-allowed;
}

.divider {
    background-color: #20212b;
    display: flex;
    align-items: center;
}

.divider__inner {


    border-right: 1px solid white;
    height: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 5px; */
    /* left: 20px; */
    /* margin-top: 0.35rem; */
    /* margin-bottom: 0.75rem; */
    border-style: none;
    border-right: 3px solid #292b37;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    /* border-right-width: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240); */

}

.movie__menu--span {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 12px;
    letter-spacing: 1px;
    line-height: 1;
}

.movie__menu--h2 {
    color: var(--white);
    text-transform: capitalize;
    font-size: 36px;
}

.movie__thumbnails {

    width: 100%;

    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    /* align-items: center; */
    margin-bottom: 55px;
    transition: all 650ms ease;
    /* flex-wrap: wrap; */
}

.add__margin {
    margin-right: 50px;
}

.movie__info--container {
    /* display: none; */
    display: none;
    flex-direction: column;
    width: calc(100%/ 4);
    margin-bottom: 50px;
    margin-right: 30px;
    cursor: pointer;
}

.movie__info--container.active {
    display: flex;
}

.movie__info--figure {
    width: 100%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border-style: outset;
    max-width: 320px;
    overflow: hidden;
    /* background-image: url('/app/img/deadpool.jpg'); */
    /* background-position: center center;
    background-size: cover; */
    /* box-shadow: 0px 0px 19px 6px var(--button-color); */
}

.movie__container {
    max-width: 1330px;
    margin: 0 auto;
}

.movie__info--figure img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 100%; */
    /* max-height: 380px; */
}

.movie__info--data {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.movie__info--top {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 15px;

}

.movie__info--title {

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    flex-grow: 1;
    color: var(--white)
}

.movie__info--date {
    font-size: 14px;
    font-weight: 500;
    margin-left: 50px;
}

.movie__info--bottom {
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: space-between;


}

.movie__hd {
    background: transparent;
    color: var(--button-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 11px;
    font-size: 11px;

    border: 2px solid #fff;
    line-height: 1;
}

.movies__details--year .right {
    margin-left: 15px;
}

.movies__details--year {
    font-size: 12px;
}


@media (max-width: 1200px) {
    .movie__container {
        max-width: 960px;
    }

    .movie__info--container {
        width: calc(100%/ 3);
    }
}


@media (max-width: 1024px) {
    .movie__info--wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }

    .movies__title {
        font-size: 38px;
    }
}

@media (max-width: 996px) {
    .movie__info--title {
        font-size: 14px;
    }
}

@media (max-width: 996px) {
    .movie__container {
        max-width: 850px;
    }

    .movie__info--container {
        width: calc(100%/ 2);
    }

    .movie__menu--wrapper {
        flex-direction: column;
    }

    .movie__menu--links {
        margin-top: 16px;
    }

    .movie__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        /*
        align-items: center;
        justify-content: center; */
    }

    .movies__details {
        align-items: center;
        justify-content: center;
    }

    .movies__title {
        text-align: center;
        margin: 0 0 20px;
    }

    .movie__button {
        margin-top: 20px;
    }



    .movie__info--wrapper {
        flex-direction: column;
    }
}

@media (max-width: 990px) {
    .movie__container {
        max-width: 720px;
    }

    .movie__info--container {
        width: calc(100%/ 2);
    }

    .movie__info--wrapper {
        flex-direction: row;
    }

    .movie__img--wrapper {
        width: 100%
    }

    .movie__img--figure {
        margin: 0 50px 0 50px;
    }
}

@media (max-width: 767px) {
    .movie__container {
        max-width: 650px;
    }

    .movie__info--wrapper {
        flex-direction: row;
    }

    .movie__img--wrapper {
        width: 100%
    }
    .search__footer form button {
        right: 10%;
    }
    .search{
        padding: 0;
    }
    .search__footer{
        padding: 0;
    }
}

@media (max-width:576px) {
    .movie__info--container {
        width: calc(100%/ 1);
    }
    .movie__info--data {
        width: 65%;
       
        justify-content: center;
        margin: 0 auto;
    }
    .movie__menu--links{
        flex-direction: column;
    }
    .movie__menu--ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .movie__menu--ul li{
        margin: 0 auto;
        padding-bottom: 30px;
        
    }
    #movies__button{
        padding: 11px 37px;
    }
    #right,#left{
        width: 50%;
    }
    .search__footer form button {
        right: 10%;
    }
    .search{
        padding: 0;
    }
    .search__footer{
        padding: 0;
    }
}
