@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap');



:root {
    --background-color: #171d22a3;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary-color: #17202a;
    --secondary-color: #273746;
    --gray-color: #ddd;
    --white-color: #fff;
    --green-color: #28b463;
    --brown-color: #b1060f;
    --button-color: #e4d804;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;


    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text__button--color {
    color: var(--button-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "poppins", sans-serif;
}

a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
}

/* Slider */
.banner__area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-size: cover;
    /* transform: translateX(-25%); */
    transition: all 2s ease-in;
}

.banner__area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.slider__container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
    width: 100%;
    max-width: 1420px;
    border-radius: 5px;

    display: flex;
    padding: 130px 0;
    align-items: center;
    z-index: 5;
    position: relative;
}

.movie__info__wrapper {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    align-items: center;

}

.movie {
    width: calc(100% / 2);
}

.movies__details--quality {
    background-color: var(--white);
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 11px;
    font-size: 11px;

}

.hd {
    background: transparent;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 11px;
    font-size: 11px;
    margin-left: 9px;
    border: 2px solid #fff;
    line-height: 1;
}

.movies__details--category {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-left: 16px;
    font-weight: 600;
}

.movies__details--year {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-weight: 500;
    font-size: 14px;
}

.movies__details--year i {
    margin-right: 9px;
}

.movies__details {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    color: var(--white);
    margin-bottom: 15px;

}

.movies__title {
    color: var(--white-color);
    font-size: 60px;
    margin: 0 0 29px;
  
    line-height: 1.2;
    font-style: normal;

}

.movie__content {
    transform: translateX(-30vh);
    transition: all 2s ease-in;
    opacity: 0;
}

.movie__content.active {
    opacity: 1;
    transform: translateX(-0%);
}

.movie__button {
    display: block;
    padding: 15px 34px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--white-color);
    font-weight: 700;
    font-size: 12px;
    border: 2px solid var(--button-color);
    max-width: 200px;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

.movie__button:hover {
    background-color: var(--button-color);
    color: var(--dark);
}

.movie__button i {
    margin-right: 7px;
    font-size: 12px;
}

.movie__img--wrapper {
    opacity: 0;
    transform: translateY(10px);
    /* display: none; */
    align-items: center;
    height: 100%;
    transition: all 2s ease-in;
}

.movie__img--wrapper.active {
   opacity: 1;
   /* display: block; */
    transform: translateX(-0%);

}

.movie__img--figure {
    display: flex;
    justify-content: center;
}

.movie__img--figure img {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

/*

nav*/


header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    height: auto;
    color: var(--white);
    /* padding: 20px 0; */
    background: var(--background-color);
}

.nav__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1420px;


}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.header__nav {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    /* padding: 8px 0; */
    /* padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    flex: 0 0 100%; */
}

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu__section {
    display: flex;
    flex-grow: 1;

}

.menu__section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu__section ul li {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 38px 23px;
    display: block;
    line-height: 1;

    z-index: 1;
}

.menu__section ul .active a {
    color: var(--button-color);
}

.menu__section ul li a {
    color: var(--white);
}

.search,
.logo__section {
    padding: 0 100px 0 20px;
}

.search i {
    color: var(--button-color);
}
/* Search Modal */

.search__modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(23, 26, 33, .95);
   
}

#search-modal .modal-dialog {
    position: absolute;
    
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    border: none;
    outline: 0;
    margin: 0;
    min-width: 700px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}